<ion-view view-title="Favorites" class="favorites-page">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="anime in favorites" class="item-avatar">
       <img ng-src="{{ anime.picture }}">
       <h2>{{ anime.title }}</h2>
       <p>{{ anime.description }}</p>
        <ion-option-button class="button-assertive"
                       ng-click="removeAnime(anime, $index)">
          <i class="ion-minus-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
